<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Card Nest</title>
  <link rel="stylesheet" href="/styles/home.module.css">
  <link rel="stylesheet" href="/styles/index.css">
</head>

<body>

  <%- include("partials/navbar/index", { currentPath: currentPath }) %>

    <section class="hero">
      <div class="hero-content">
        <h1>
          A Simple Way <br>
          to <span>Test Yourself on the Fly</span>
        </h1>

        <p>
          A simple flashcard app made to help people remember bite-sized topics conveniently on the go. Add decks to
          study, review your deck test scores, refine your test proficiency, & repeat!
          <br>
          <br>
          Welcome to Cardnest!
        </p>

        <a href="/sets" class="hero-btn">Learn Now</a>
      </div>

      <div class="hero-image">
        <img src="/images/Fullhatch.png" alt="Hatching Bird Illustration">
      </div>
    </section>
</body>

</html>