<link rel="stylesheet" href="/styles/navbar.module.css">

<nav class="navbar">

  <!-- LOGO -->
  <div class="logo">
    <a href="/home">
      <img src="/images/Logo.png" alt="Logo">
    </a>
  </div>

  <ul class="navLinks">

    <% const items = [
      {name:"Home", path:"/home"},
      {name:"Sets", path:"/sets"},
      {name:"Cards", path:"/cards"}
    ]; %>

    <% items.forEach(function(item){ 
        const isActive = currentPath === item.path;
    %>

      <li>
        <a href="<%= item.path %>" class="<%= isActive ? 'active' : '' %>">
          <%= item.name %>
        </a>
      </li>

    <% }) %>

  </ul>

</nav>