@import url("/styles/theme.css");

:root {
  --lato: var(--font-primary);
  --h1: 36px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
  --body: 16px;
  --orange: var(--color-orange);
  --white: var(--color-white);
  --black: var(--color-black);
  --darkyellow: var(--color-dark-yellow);
  --yellow: var(--color-yellow);
  --cream: var(--color-cream);
 
}

