:root {
  --lato: 'lato', sans-serif;
  --h1: 36px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 18px;
  --body: 16px;
  --orange: #FF9B00;
  --white: #FFFFFF;
  --black: #000000;
  --darkyellow: #FFC900;
  --yellow: #FFE100;
  --cream: #EBE389;
 
}

