body{
  margin:0;
  font-family: var(--lato);
}


.landing-wrapper{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background: #3F72AF
}

.landing-card{
  text-align:center;

  background:white;
  padding:60px 80px;

  border-radius:16px;

  box-shadow:0 20px 50px rgba(0,0,0,0.15);

  max-width:600px;
}

.key-icon{
  color:#4a6cff;
  margin-bottom:20px;
}

.title{
  font-size:38px;
  font-weight:700;
  margin-bottom:10px;
}

.subtitle{
  color:#666;
  margin-bottom:30px;
}

.button-group{
  display:flex;
  justify-content:center;
  gap:20px;
}

/* Primary button */

.btn-primary{
  background: #112D4E;
  color:white;

  padding:12px 32px;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;

  transition:0.2s;
}

.btn-primary:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* Secondary button */

.btn-secondary{
  border:2px solid;

  padding:12px 32px;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;

  transition:0.2s;
}

.btn-secondary:hover{
  background: #112D4E;
  color:white;
}